{% extends "base.html" %}


{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <th>Email</th>
            <th>Department</th>
            <th>
                <a href="{% url 'servant-create' %}" class="btn btn-outline-success btn-sm">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for servant in servants %}
                <tr>
                    <td>{{ servant.email }}</td>
                    <td>{{ servant.department }}</td>
                    <td>
                        <a href="{% url 'servant-update' servant.email %}" class="btn text-secondary px-0">
                            <i class="far fa-edit fa-lg"></i>
                        </a>
                        <form action="{% url 'servant-delete' servant.email %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn">
                                <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No diseases available.</td>
                </tr>
            {% endfor %}
    </tbody>
</table>

{% endblock content %}